{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
				{% block title %} Rapid prototype {% endblock %}
		</title>
		
		<link rel="stylesheet" href="{% static 'css/site.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	</head>
	
	<body>
		{% block content %} {% endblock %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>
